<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Frank Boakye Yiadom</h1>
		<p>Welcome to messaging board Challenge.</p>
		<p>If you'd like to follow along as I code more Ruby on Rails, find  on the web at <a href="http://boakye.us">boakye.us</a>, and get my posts and exclusive content in your inbox by signing up for my newsletter <a href="#">here</a>.</p>
	</div>
</div>