<div id="page_wrapper">
	

	<div id="content">
		<h1>Project Requirements</h1>
		<p>Users can register and then must be authenticated before logging in (we use Devise).
Users should have an email (used for logging in), and a first and last name at a minimum.
You can add things like a description or “about me” if you’d like.</p>
		<p>Users can create posts (title, body, author (user_id), etc)</p>
		<p>Users can comment on other users’ posts (Comments have post_id, body, author
(user_id))</p>
		<p>There is a posts index page that lists all posts (for entire site). This is the ‘homepage’.
This should display a list of posts with the title and the author’s name</p>
		<p>Order posts with most recent posts at the top of the page</p>
		<p>There is a post show page, that shows a single post. Underneath the post are all the
comments, ordered by date created (oldest at the top)</p>
         <p>When commenting on a post, you have freedom as far as the layout goes, you can just
have a little box that opens, and the user types in their comment. You can also use a
modal, etc, whatever you want. It makes more sense to have the form for adding a
comment be close to where the comment will end up.</p>
	</div>
</div>
