<%  @posts.each do |post| %>
	<div class="post_wrapper">
		<h2 class="title"><%= link_to post.title, post %></h2>
		<p class="date">Author Name: <strong><%= link_to post.user.name, post %></strong></p>
		
	</div>
<% end %>